@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 72px;
    font-weight: normal;
    color: #747474;
}

.title:hover {
    color: #333;
}

main > .container {
    background: none;
    min-height: 100%;
}

.hero + .section {
    padding-top: 0;
}

.content h1, .content h2 {
    font-weight: normal;
}